// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';



/* universal */

body {
  font-family: -apple-system-font, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, Arial, sans-serif;
  font-size: 14px;
  background: #f7f7f7;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

ol,
ul {
  padding-left: 0;
  list-style-type: none;
}

.card {
  border: none;
  margin-bottom: 16px;
}

/* header */

.navbar-static-top {
  border-color: #e7e7e7;
  background-color: #fff !important;
  border-bottom: 1px solid #e8e8e8;
  margin-top: 0px;
  padding: 0;

  .nav-link {
    padding: 0 1rem;
  }

  .header_navs {
    margin-left: 53px;

    .nav-link {
      line-height: 64px;
      font-size: 16px;
      border-bottom: 1px solid #000;
    }
  }
}

// 分类导航
.nxbbs_nav_wrp {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 71px;
  padding: 21px 0 10px;

  .nxbbs_nav_wrp_cont {
    text-align: center;
    max-width: 1140px;
    min-width: 960px;
    margin: 0 auto;

    .nxbbs_navs {
      display: inline-block;
      text-align: center;
      padding-left: 0;

      .nxbbs_nav {
        display: inline-block;
        margin-right: 2px;

        .nxbbs_nav_link {
          color: #000;
          display: block;
          line-height: 30px;
          padding: 0 20px;
          max-width: 10em;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 30em;
        }
      }

      .selected a {
        background-color: #e8e8e8;
        font-weight: 500;
        border-radius: 16px;
      }
    }
  }
}

// 分类头部
.nxbbs_category_head {
  position: relative;
  padding: 21px 137px 20px 31px;

  .category_icon {
    float: left;
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-right: 16px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
  }

  .category_title {
    font-size: 22px;
    font-weight: 500;
  }

  .category_description {
    font-size: 14px;
    font-weight: 500;
    vertical-align: text-bottom;
    margin-left: 20px;
  }
}


// 帖子列表头部
.simple_card_header {
  font-size: 14px;
  font-weight: 400;
  padding: 18px 30px;
  background-color: rgba(0, 0, 0, .02);
  border-radius: 4px 4px 0 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), color-stop(#fdfdfd), color-stop(#fcfcfc), color-stop(#fbfbfb), to(#fafafa));
  background: -o-linear-gradient(#fefefe, #fdfdfd, #fcfcfc, #fbfbfb, #fafafa);
  background: linear-gradient(#fefefe, #fdfdfd, #fcfcfc, #fbfbfb, #fafafa);
  border-bottom: none;

  .title_tab {
    margin-bottom: 0;
    padding: 0;
    float: left;

    li {
      position: relative;
      display: inline-block;
      margin-right: 30px;
      line-height: 38px;
      font-size: 14px;
      cursor: pointer;

      a {
        height: 30px;
        display: inline-table;
      }
    }

    .active {
      font-weight: 700;
      border-bottom: 1px solid #000;
    }
  }

  .mod_hd_extra {
    float: right;

    .btn-success {
      color: #fff;
    }
  }
}




/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #000;

  .container {
    padding-right: 15px;
    padding-left: 15px;

    p {
      margin: 19px 0;
      color: #c1c1c1;

      a {
        color: inherit;
      }
    }
  }
}


/* User register page */
.register-page {
  img.captcha {
    cursor: pointer;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 3px;
  }
}


/* Topic Index Page */
.topics-index-page,
.categories-show-page {
  .topic-list {
    .simple_container_body {
      background-color: #fff;
      padding: 16px 31px;
      margin-bottom: 16px;
      border-radius: 0 0 4px 4px;

      .post_list {
        .post_item {
          position: relative;
          padding: 28px 0 30px;

          .post_title {
            font-weight: 400;
            display: block;
            font-size: 16px;
            line-height: 1.25;

            a {
              color: rgba(0, 0, 0, .9);
              margin-right: 0;
              font-weight: 700;
            }
          }

          .post_author_avatar {
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 2px;
            vertical-align: middle;
          }

          .post_author_nickname {
            color: #576b95;
          }

          .post_group {
            display: inline-block;
            margin-right: 16px;
            font-size: 14px;
            color: rgba(0, 0, 0, .5);
            margin-left: 14px;
          }

          .post_time {
            margin-left: 14px;
            line-height: 23.3px;
            display: inline-block;
            vertical-align: top;
            font-weight: 400;
            font-style: normal;
            margin-right: 14px;
            font-size: 14px;
            color: rgba(0, 0, 0, .3);
          }

          .post_desc {
            color: rgba(0, 0, 0, .5);
            margin: 8px 0 5px;
            overflow: hidden;
            word-break: break-all;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }

          .post_info_extend {
            float: right;
          }

          .post_info_meta {
            display: inline-block;
            vertical-align: top;
            font-weight: 400;
            font-style: normal;
            margin-right: 14px;
            font-size: 14px;
            color: rgba(0, 0, 0, .3);

            .far,
            .fas {
              margin-right: 5px;
              vertical-align: middle;
            }
          }
        }
      }
    }

    .nav>li>a {
      position: relative;
      display: block;
      padding: 5px 14px;
      font-size: 0.9em;
    }

    a {
      color: #444444;
    }

    .meta {
      font-size: 0.9em;
      color: #b3b3b3;

      a {
        color: #b3b3b3;
      }
    }

    .badge {
      background-color: #d8d8d8;
    }

    hr {
      margin-top: 12px;
      margin-bottom: 12px;
      border: 0;
      border-top: 1px solid #dcebf5;
    }
  }
}


/* Add container and footer space */
#app>div.container {
  margin-bottom: 100px;
}


// 发帖页面
.page_askquestion_detail {
  margin-top: 46px;

  .page_title_ic {
    position: relative;
    top: -2px;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    vertical-align: middle;
  }

  .askquestion_section {
    background-color: #fff;
    border-radius: 4px;
    padding: 20px 24px;
    margin-bottom: 24px;

    input,
    textarea {
      width: 100%;
      background-color: transparent;
      border: 0;
      outline: 0;
    }

    .form-control:focus {
      box-shadow: 0 0 0;
    }

    .form-group {
      margin-bottom: 0;
    }

    .custom-radio {
      float: left;
      display: block !important;
      font-size: 14px;
      background-color: #f5f5f5;
      color: rgba(0, 0, 0, .9);
      border-radius: 4px;
      line-height: 30px;
      padding: 0 18px;
      cursor: pointer;
      overflow: hidden;
    }

    .custom-control-label::before {
      position: absolute;
      top: 19px;
      left: -25px;
    }

    .custom-control-input:checked~.custom-control-label::before {
      background-color: #07c160;
      border: #07c160;
    }

    .custom-control-label::after {
      top: -1px;
      left: 30px;
    }

    .custom-control-label::before {
      background-color: #f5f5f5;
      border: #f5f5f5;
    }

  }
}

.page_title {
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 21px;
}

// 帖子详情页
.topic-body {
  img {
    max-width: 100%;
    height: auto;
  }
}

@import "topic_body";

.topics-show-page {

  .card {
    padding: 15px;

    h1 {
      font-size: 28px;
      line-height: 38px;
    }
  }
}

.page_detail {
  margin-top: 32px;
  .post_title {
    font-size: 24px !important;
    font-weight: 500;
    margin: 0;
}
  .post_info {
    *zoom: 1;
    color: rgba(0, 0, 0, .3);
    font-size: 14px;
    margin: 12px 0;

    .popover_target {
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
    }

    .post_owner {
      color: #576b95;
    }

    .post_info_meta {
      display: inline-block;
      vertical-align: top;
      padding-right: 15px;
      font-weight: 400;
      font-style: normal;
    }
  }

}
