// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

/* universal */

body {
    font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
    font-size: 14px;
}

.card {
    border: none
}

.form-control {
    border: none;
    background-color: #f7f9fb !important;
}

.col-form-label {
    text-align: right;
    color: #515a6e;
}

/* 顶部 */

.navbar-static-top {
    background-color: #fff !important;
    box-shadow: 0 1px 10px rgba(151, 164, 175, .1);
    margin-bottom: 40px;
    margin-top: 0px;
    padding: 0.4rem 0;

    .site-name {
        font-size: 22px;
        color: #2d8cf0;
        font-weight: 700;
    }

    .avatar {
        border-radius: 50%;
        width: 26px;
        height: 26px;
        display: inline-block;
    }

    .userinfo {
        height: 32px;
        display: inline-block;
        margin-left: 10px;
        line-height: 32px;
    }

    .dropdown-menu {
        min-width: 100px;
        box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
        border: 0;
        text-align: center;
    }

    .dropdown-item {
        padding: 0.25rem 0.5rem;

        .btn {
            border: none;
            background-color: #fff;
            color: #000;
        }

        &:hover {
            .btn {
                background-color: #f8f9fa;
            }
        }

        &:active {
            background-color: #f8f9fa;
            color: #000;

            .btn {
                background-color: #f8f9fa;
            }
        }
    }
}






/* 底部样式 */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #000;

    .container {
        padding-right: 15px;
        padding-left: 15px;

        p {
            margin: 19px 0;
            color: #c1c1c1;

            a {
                color: inherit;
            }
        }
    }
}



/* User register page */
.register-page {
    img.captcha {
        cursor: pointer;
        border: 1px solid #ced4da;
        border-radius: 4px;
        padding: 3px;
    }
}


/* 设置中心 */
.left-bar {
    width: 100%;
    background: #fff;
    padding: 1rem;
    border: 1px solid #e7eaf3;
    border-radius: .25rem;
    box-shadow: 0 0.5rem 1.2rem rgba(189, 197, 209, .2);
    overflow: hidden;

    .user-bg {
        width: calc(100% + 2rem);
        height: 100px;
        margin: -1rem;
        background: #2d8cf0;
        border-radius: .25rem .25rem 0 0;
    }

    .user-info {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;

        .user-avatar {
            border-radius: 5px;
            border: 3px solid #fff;

            .avatar-img {
                display: block;
                border-radius: 5px;
                width: 60px;
                height: 60px;
            }
        }

        .user-name {
            width: 100%;
            height: 50px;
            color: #5c7390;
            position: relative;
            margin-left: 10px;
            overflow: hidden;

            span {
                line-height: 50px;
                display: block;
                text-align: left;
                width: 100%;
                font-size: 16px;
                font-weight: 700;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    .user-signature {
        margin-top: 10px;
        line-height: 22px;
        font-size: 14px;
        text-align: justify;
        color: #465f70;

        .user_created_at {
            margin-top: 20px;
            font-size: 12px;
            display: block;
            color: darkgrey
        }

        .user_email {
            font-size: 12px;
            color: darkgrey
        }
    }
}

.img-upload {
    position: relative;
    line-height: 32px;
    font-size: 14px;
    padding: 0;

    .avatar-img {
        display: block;
        border-radius: 5px;
        width: 100px;
        height: 100px;
    }

    .upload-input {
        width: 100px;
        height: 100px;
        cursor: pointer;
        font-size: 30px;
        outline: medium none;
        position: absolute;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        opacity: 0;
        left: 0px;
        top: 0px;
    }

    .icon-btn {
        height: 100%;
        vertical-align: middle;
        line-height: 98px;
        text-align: center;
        color: #fff;
    }

    .upload-drag {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .2);
    }
}


/* Topic Index Page */
.posts-filter-wrap {
    .nav-item {
        width: 80px;
        text-align: center;
        display: inline-block;
        cursor: pointer;

        .active {
            background: #939faa;
            color: #fff;
            font-weight: 700;
            border-radius: 20px;
        }
    }
}

.posts-container {
    padding: 0;

    .post-item {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        min-height: 100px;
        border-bottom: 1px solid #efefef;

        &:hover {
            background-color: #f7f9fb;
        }

        .post-item-content-text {
            &:hover {
                text-decoration: none;
            }
        }

        .post-item-praise {
            width: 80px;
            height: 100px;
        }

        .praise-wrap {
            width: 50px;
            height: 50px;
            display: block;
            background: #f7f9fb;
            margin: 25px 20px 25px 10px;
            border-radius: 3px;
            text-align: center;
            color: silver;
        }

        .praise-top {
            height: 25px;
            padding-top: 9px;
        }
    }
}

.pagination-wrap {
    padding: 20px;
}

.topics-index-page,.categories-show-page {
    .topic-list {
        .nav>li>a {
            position: relative;
            display: block;
            padding: 5px 14px;
            font-size: 0.9em;
        }

        a {
            color: #444444;
        }

        .meta {
            font-size: 0.9em;
            color: #b3b3b3;

            a {
                color: #b3b3b3;
            }
        }

        .badge {
            background-color: #d8d8d8;
        }

        hr {
            margin-top: 12px;
            margin-bottom: 12px;
            border: 0;
            border-top: 1px solid #dcebf5;
        }

        .post-item-userinfo-avatar {
            margin: 25px 20px;
            width: 50px;
            height: 50px;
            border-radius: 25px;
            z-index: 100;
            position: relative;

            .post-item-userinfo-avatar-img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                display: block;
            }
        }

        .post-item-content {
            width: calc(100% - 170px);
            height: inherit;
            padding: 25px 20px 25px 0;

            .nickname {
                color: #14171a;
                font-size: 14px;
                font-weight: 700;
            }

            .timeago {
                margin-left: 10px;
                font-size: 12px;
                color: #657786;
            }
        }
.category_name {
    font-size: 16px;
    color: #17233d;
    display: block;
    margin-bottom: 4px;
}
.category_description {
    font-size: 14px;
    color: #515a6e;
    line-height: 21px;
    text-align: justify;
}
.ivu-alert-icon {
    top: 50%;
    left: 24px;
    margin-top: -24px;
    font-size: 28px;
    position: absolute;
    color: #2d8cf0;
}
    }

    .posts-addons {
        height: 72px;
        border-bottom: 1px solid #efefef;
        display: inline-block;
        width: 100%;
        padding: 20px;
        background: #fff;
        z-index: 110;
    }

}

/* Add container and footer space */
#app>div.container {
    margin-bottom: 100px;
}


// 侧边栏

.sidebar {
    .group-item {
        width: 100%;
        height: 46px;
        line-height: 46px;
        text-align: left;
        padding-left: 20%;
        position: relative;
        cursor: pointer;
        border-bottom: 1px solid #efefef;
        font-size: 14px;

        a {
            display: block;
            width: 100%;
            height: 100%;
            color: #657786;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            &:hover {
                text-decoration: none;
                opacity: .8;
            }
        }
       .fa {
        position: absolute;
        top: 17px;
        left: 20px;
        font-size: 12px;
        color: #657786;
        opacity: .6;
       }
    }
    .active {
        color: #2d8cf0;
        font-weight: 700;
        a{
            color: #2d8cf0;
            font-weight: 700;
        }
        .fa {
            color: #2d8cf0;
        }
    }

}
