// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

/* universal */

body {
    font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
    font-size: 14px;
}

.card {
    border: none
}

.form-control {
    border: none;
    background-color: #f7f9fb !important;
}

.col-form-label {
    text-align: right;
    color: #515a6e;
}

/* 顶部 */

.navbar-static-top {
    background-color: #fff !important;
    box-shadow: 0 1px 10px rgba(151, 164, 175, .1);
    margin-bottom: 40px;
    margin-top: 0px;
    padding: 0.4rem 0;

    .navbar-brand {
        color: #2d8cf0;
    }

    .avatar {
        border-radius: 50%;
        width: 26px;
        height: 26px;
        display: inline-block;
    }

    .userinfo {
        height: 32px;
        display: inline-block;
        margin-left: 10px;
        line-height: 32px;
    }

    .dropdown-menu {
        min-width: 100px;
        box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
        border: 0;
        text-align: center;
    }

    .dropdown-item {
        padding: 0.25rem 0.5rem;

        .btn {
            border: none;
            background-color: #fff;
            color: #000;
        }

        &:hover {
            .btn {
                background-color: #f8f9fa;
            }
        }

        &:active {
            background-color: #f8f9fa;
            color: #000;

            .btn {
                background-color: #f8f9fa;
            }
        }
    }
}






/* 底部样式 */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #000;

    .container {
        padding-right: 15px;
        padding-left: 15px;

        p {
            margin: 19px 0;
            color: #c1c1c1;

            a {
                color: inherit;
            }
        }
    }
}



/* User register page */
.register-page {
    img.captcha {
        cursor: pointer;
        border: 1px solid #ced4da;
        border-radius: 4px;
        padding: 3px;
    }
}


/* 设置中心 */
.left-bar {
    width: 100%;
    background: #fff;
    padding: 1rem;
    border: 1px solid #e7eaf3;
    border-radius: .25rem;
    box-shadow: 0 0.5rem 1.2rem rgba(189, 197, 209, .2);
    overflow: hidden;

    .user-bg {
        width: calc(100% + 2rem);
        height: 100px;
        margin: -1rem;
        background: #2d8cf0;
        border-radius: .25rem .25rem 0 0;
    }

    .user-info {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;

        .user-avatar {
            border-radius: 5px;
            border: 3px solid #fff;

            .avatar-img {
                display: block;
                border-radius: 5px;
                width: 60px;
                height: 60px;
            }
        }

        .user-name {
            width: 100%;
            height: 50px;
            color: #5c7390;
            position: relative;
            margin-left: 10px;
            overflow: hidden;

            span {
                line-height: 50px;
                display: block;
                text-align: left;
                width: 100%;
                font-size: 16px;
                font-weight: 700;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    .user-signature {
            margin-top: 10px;
            line-height: 22px;
            font-size: 14px;
            text-align: justify;
            color: #465f70;
        .user_created_at {
            margin-top:20px;
            font-size: 12px;
            display: block;
            color:darkgrey
        }
        .user_email {
            font-size: 12px;
            color:darkgrey
        }
    }
}

.img-upload {
    position: relative;
    line-height: 32px;
    font-size: 14px;
    padding: 0;

    .avatar-img {
        display: block;
        border-radius: 5px;
        width: 100px;
        height: 100px;
    }

    .upload-input {
        width: 100px;
        height: 100px;
        cursor: pointer;
        font-size: 30px;
        outline: medium none;
        position: absolute;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        opacity: 0;
        left: 0px;
        top: 0px;
    }

    .icon-btn {
        height: 100%;
        vertical-align: middle;
        line-height: 98px;
        text-align: center;
        color: #fff;
    }

    .upload-drag {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .2);
    }
}
