body {
  font-family: -apple-system-font, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", Arial, sans-serif;
}

#wrapper {
  background-color: #f7f7f7;
}

.table_container {
  margin-right: 0px !important;
}

.container {
  width: 100% !important;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

/* 侧边栏 */
.sidebar {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  width: 272px;
}

.desktop-menu {
  margin: 46px 16px 26px;
  display: flex;
  align-items: center;
}

.desktop-menu-logo {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  margin-left: 12px;
  background-image: url(https://res.wx.qq.com/wxaproducttrade/dist/images/logo_ad9047.svg);
  background-repeat: no-repeat;
  background-size: contain;
  flex-shrink: 0;
}

.desktop-menu-name {
  margin-top: 6px;
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 20px;
}

.nav>li {
  font-size: 16px;
  line-height: 46px;
  width: 100%;
}

.nav>li.active {
  border-left: none;
  background: #fff;

}

.nav>li.active a {
  color: #38c172;
}

.nav>li>a {
  color: #222222;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px 16px;
  padding-left: 49px;
  font-weight: 500;
  display: block;
}

.nav>li>a:hover,
.nav>li>a:focus {
  text-decoration: none;
  background-color: #F6F7F8;
  border-radius: 8px;
}

.nav-header {
  padding: 0px;
  margin: 0 16px;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 49px;
  color: #a7b1c2;
}


/* 筛选 */
.sidebar_section {
  display: inline-block;
  vertical-align: middle;
  height: 39px;
  margin-left: 50px;
}

.sidebar_section .form-control {
  display: initial;
  width: auto;
}

.sidebar_section div {
  float: left;
  margin: 0 20px 0 0;
}
.sidebar_section div label{
height: 40px;
line-height: 40px;
padding-left: 10px;
background-color: #fff;
border-left: 1px solid #d9d9d9 !important;
border-right: 0px;
border-top: 1px solid #d9d9d9 !important;
border-bottom: 1px solid #d9d9d9 !important;
border-radius: 0.25rem;
color: darkgrey;
float: left;
}
.sidebar_section div input{
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  background-color: #fff;
  border-right: 1px solid #d9d9d9 !important;
  border-left: 0px !important;
  border-top: 1px solid #d9d9d9 !important;
  border-bottom: 1px solid #d9d9d9 !important;
  border-radius: 0.25rem;
  margin-left: -4px;
  vertical-align: top;
  }

.page-main {
  margin-left: 300px;
  width: calc(100% - 320px);
}

#wrapper h2 {
  font-weight: 500;
  font-size: 24px;
}

.results_header {
  line-height: 66px;
  margin-top: 60px;
}

.card {
  border: 0px;
}

.card-body {
  padding: 32px 32px 40px;
}

.table,
.table>thead,
.table> :not(caption)>*>* {
  border: 0px
}

td {
  padding: 20px 20px !important;
}

thead tr th {
  padding: 20px 20px !important;
}

.table> :not(caption)>*>* {
  padding: 20px 0;
}

.item_edit_container {
  display: flex;
  position: absolute;
  right: 0;
  position: fixed;
  top: 0;
  height: 100%;
  background-color: #fff;
  border-left: 1px solid rgba(0, 0, 0, .05);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .05);
}

.item_edit {
  padding: 60px 20px 0;
}

.edit_form div {
  margin-bottom: 20px;
}

.edit_form h2 {
  font-size: 24px;
}
.select2-container {margin-left: 0px;}

.select2-container div {
  margin: 0;
}

.uploader {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: slategrey;
  *background-color: slategrey;
  background-repeat: repeat-x;
  line-height: 30px;
  padding: 20px;
  text-align: center;
  border-radius: 0.25rem;
}


.btn-out {
  background-color: ghostwhite;
}

.form-control,
.select2-container-multi .select2-choices {

  border: 1px solid #d9d9d9;
}
#delete-all.disabled {display: none;}

.image_container {position: relative;}
.remove_button {position: absolute; top: 5px; right: 5px;}

.select2-container .select2-choice {
  height: 40px; line-height: 40px;
}

.select2-container .select2-choice {
  border-right: 1px solid #d9d9d9 !important;
  border-left: 0px !important;
  border-top: 1px solid #d9d9d9 !important;
  border-bottom: 1px solid #d9d9d9 !important;
}

.page_container {margin: 50px 0;line-height: 38px;display: flow-root;}
.per_page {float: left;}
.paginator {float: right;}
.total {float: left;}